<h3>Directori:</h3>
<ul>
    {{#each principals}}
    <li class="mt-1">
        {{shortTitle}} <strong>{{firstName}} {{lastName}}</strong>, {{principalTitle}}
    </li>
    {{/each}}
</ul>

<h3>Consiliul de administratie:</h3>
<ul>
    {{#each staff}}
    <li class="mt-1">
        {{shortTitle}} <strong>{{firstName}} {{lastName}}</strong>, {{roleInStaff}}
    </li>
    {{/each}}
</ul>