<style>
    .btn-link {
        padding-top: 1px;
        padding-bottom: 1px;
    }

    ul {
        margin-bottom: 0;
    }

    .btn-group-toggle>label {
        width: 40px;
    }

    .btn-light:not(:disabled):not(.disabled).active {
        background-color: #ffc107;
        border-color: #ffc107;
    }

    .absence-create-container {
        _border-left: 1px solid green;
        padding-left: 8px;
        background: #ffe6cb;
    }


    .btn-group>.btn {
        border-radius: 0;
    }

    .btn-light {
        border-radius: 0;
        margin-bottom: 0;
        border: 0;

    }

    .btn-group>.btn.btn-light {
        flex-grow: 0;
        margin: 0;
    }

    .flex-new-line {
        width: 100% !important;
        visibility: hidden;
        padding: 0
    }
</style>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Acasa</a></li>
        <li class="breadcrumb-item"><a href="/clase">Clase</a></li>
        <li class="breadcrumb-item"><a href="/clase/{{currentClass.id}}">Clasa {{currentClass.name}}</a></li>
        <li class="breadcrumb-item"><a href="/clase/{{currentClass.id}}/elevi">Elevi</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{student.lastName}} {{student.firstNameFirstChar}}.</li>
    </ol>
</nav>

<h1 data-student='{{{toJSON student}}}'>{{student.lastName}} {{student.firstName}} </h1>

<h5 data-class2='{{{toJSON currentClass}}}' class="mt-4">Clasa:
    <a href="/clase/{{currentClass.id}}">{{currentClass.name}}</a>
</h5>

{{#each allSubjects}}

{{!-- {{{toJSON this}}}
<div>--------</div>
{{toJSON this}} --}}
<div id="{{subject.id}}" class="subject-container" data-subject-id="{{subject.id}}"
    data-subject-name="{{subject.name}}">
    <h3 class="font-weight-normal mt-5">{{subject.name}}</h3>

    <div class="absences-container ml-4 mt-4">
        <div class="font-weight-bold">Absente:</div>
        <ul class="absence-list-container">
            {{#each absences}}
            <li id={{itemId}}>
                <span {{#if itemIsExcused}} class="text-success" {{/if}}>{{itemDate}}</span>
                {{#unless itemIsExcused}}
                <button class="excuse-btn btn btn-link">Motiveza</button> |
                {{/unless}}
                <button class="delete-btn btn btn-link">Sterge</button>
            </li>
            {{/each}}
        </ul>

        <button class="show-absence-btn btn btn-sm btn-primary ml-4">Adauga absente</button>

        <div class="absence-create-container ml-4 mt-1" data-test="bbb"></div>
    </div>

    <div class="marks-container ml-4 mt-4" data-test="aaa">
        <div class="font-weight-bold">Note:</div>

        <ul class="marks-list-container" data-test="bbb">
            {{#each marks}}
            <li id={{itemId}}>
                <span>{{itemValue}}</span>
                <span class="text-muted">/ {{itemDate}}</span>
                <button type="button" class="delete-btn btn btn-link">Sterge</button>
            </li>
            {{/each}}
        </ul>

        <div class="marks-create-container ml-4">
            <div class="form-inline">
                <input type="number" class="mark-value form-control form-control-sm" style="width:70px">
                <span class="text-muted text-center" style="width:12px"> / </span>
                <input type="number" class="mark-date form-control form-control-sm" style="width:100px">
                <button class="add-mark-btn btn btn-primary btn-sm ml-2">Adauga nota</button>
            </div>
            <small class="text-muted">Ex: 8 / 17.04</small>
            <br>

        </div>

        <div class="sem-test-paper-container  ml-4 mt-4">
            <div class="font-weight-bold">Teza:</div>
            <div class="ml-4 form-inline">
                <input type="number" class="form-control form-control-sm" style="width:70px">
                <button type="submit" class="btn btn-primary btn-sm ml-2" style="width:120px">Adauga teza</button>
            </div>
        </div>

        <div class="sem-average-container  ml-4 mt-4">
            <div class="font-weight-bold">Media:</div>
            <div class="ml-4 form-inline">
                <input type="number" class="form-control form-control-sm" style="width:70px">
                <button type="submit" class="btn btn-primary btn-sm ml-2" style="width:120px">Adauga media</button>
            </div>
        </div>

        <hr class="mt-5" />
    </div>
    {{/each}}


    {{!-- <script type="text/x-template" id="app-data-template">
    {{{toJSON this }}}
    </script> --}}

    <script type="text/x-template" id="ui-data">{{{toJSON uiData }}}</script>
    {{!-- <script type="text/x-template" id="app-data-class">{{{toJSON currentClass }}}</script> --}}


    {{#section 'script'}}
    {{!-- <script type="text/javascript" src="/views/student/student-catalog.js" defer></script> --}}
    <script type="module" src="/views/student/student-catalog.js"></script>
    {{/section}}