<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Acasa</a></li>
        <li class="breadcrumb-item"><a href="/clase">Clase</a></li>
        <li class="breadcrumb-item"><a href="/clase/{{currentClass.id}}">Clasa {{currentClass.name}}</a></li>
        <li class="breadcrumb-item"><a href="/clase/{{currentClass.id}}/elevi">Elevi</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{student.lastName}} {{student.firstNameFirstChar}}.</li>
    </ol>
</nav>

<h1>{{student.lastName}} {{student.firstName}} </h1>

<h5 class="mt-4">Clasa:
    <a href="/clase/{{currentClass.id}}">{{currentClass.name}}</a>
</h5>

<h5 class="mt-4">Note / Absente <span class="font-weight-light text-secondary">(ultimele 2 sapt.)</span>:</h5>
<table class="table thead-light table-bordered table-light2 table-hover">
    <thead>
        <tr>
            <th>Data</th>
            <th>Materia</th>
            <th>Nota / Absenta</th>
        </tr>
    </thead>
    <tbody>
        {{#each lastMarks}}
        <tr>
            <td>
                {{!-- {{itemDate}} --}}
                {{#if itemDate}}
                {{itemDate}}
                {{else}}
                sem.{{semester}}
                {{/if}}
            </td>
            <td>{{subject.name}}
                {{!-- {{#if (eq itemType "semestrialTestPaper")}}
                (teza)
                {{else if (eq itemType "semestrialAverage")}}
                (media)
                {{/if}} --}}
            </td>
            <td>

                {{#if (eq itemType "absence")}}
                {{#if itemIsExcused}}
                <span style="color:green">absent motivat</span>
                {{else}}
                <span style="color:red">absent</span>
                {{/if}}
                {{else}}
                {{itemValue}}

                {{#if (eq itemType "semestrialTestPaper")}}
                (teza)
                {{else if (eq itemType "semestrialAverage")}}
                (media)
                {{/if}}

                {{/if}}
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

<a href="/elevi/{{student._id}}/catalog">Editeaza catalogul</a>

{{!-- <h5 class="mt-4">Absente <span class="font-weight-light text-secondary">(inregistrate in ultimele 2 saptamani)</span>:
</h5>
<table class="table thead-light table-bordered table-light2 table-hover mb-5">
    <thead>
        <tr>
            <th>Data</th>
            <th>Materia</th>
            <th>Absenta motivata</th>
        </tr>
    </thead>
    <tbody>
        {{#each lastAbsences}}
        <tr>
            <td>
                {{itemDate}}
            </td>
            <td>{{subject.name}}
                {{#if (eq itemType "semestrialTestPaper")}}
                (teza, sem. {{semester}})
                {{else if (eq itemType "semestrialAverage")}}
                (media, sem. {{semester}})
                {{/if}}
            </td>
            <td>
                {{itemIsExcused}}
            </td>
        </tr>
        {{/each}}
    </tbody>
</table> --}}

<h5 class="mt-4">Parinti/Tutori:</h5>

<ul>
    {{#each student.parents }}
    <li class="mt-1"><a href="/parinti/{{id}}">{{lastName}} {{firstName}}</a></li>
    {{/each}}
</ul>

<h5 class="mt-4">Premii obtinute:</h5>