<style>
    .hidePresence {
        display: none;
    }

    .hideStudent {
        display: none;
    }
</style>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        {{!-- <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li> --}}
        <li class="breadcrumb-item"><a href="#">Acasa</i></a></li>
        <li class="breadcrumb-item"><a href="/matemaraton">MateMaraton</a></li>
        <li class="breadcrumb-item active" aria-current="page">Prezenta: 8-avansati</li>
    </ol>
</nav>

<h1>Prezenta</h1>
<h2 class="mb-5">Clasa a {{grade}}-a, {{groupName}}</h2>


{{#each presencePerGroups}}
<div {{#if (gt @index 2)}} class="toggle-presence hidePresence" {{/if}}>

    <h3 {{#if noCourse}} class="text-muted" {{/if}}>{{dateAsString}} {{#if course}}- curs {{course}} {{/if}}</h3>

    {{#if noCourse}}
    <p style="padding-left:40px;" class="text-muted">Nu s-a tinut curs ({{noCourseReason}})</p>
    {{/if}}

    <ul>
        {{#each students}}
        <li><a href="/matemaraton/prezenta/elevi/{{id}}">{{shortName}}</a> ({{../grade}}{{class}})
            {{#if (eq @../index 0)}}
            - {{totalPresencesAsPercent}}%
            {{/if}}
        </li>
        {{/each}}
    </ul>
</div>
{{/each}}
{{#if (gt totalCourses 3)}}
<a class="toggle-presence" href="#" style="font-size:1.2rem; vertical-align: bottom;">Vezi toate prezentele <i
        class="fas fa-angle-double-right"></i></a>
<a class="toggle-presence hidePresence" href="#" style="font-size:1.2rem; vertical-align: bottom;"><i
        class="fas fa-angle-double-left"></i> Vezi doar primele prezente </a>
{{/if}}


<h3 class="mt-5">Cumulat pe elevi: </h3>

{{#each presencePerStudents}}
<div {{#if (gt @index 7)}} class="toggle-student hideStudent" {{/if}}>
    <a href="/matemaraton/prezenta/elevi/{{id}}">{{shortName}}</a> - prezente: {{totalPresences}} din
    {{../totalCourses}} ({{totalPresencesAsPercent}}%)
    <div class="progress mb-2">
        <div class="progress-bar" role="progressbar" style="width: {{totalPresencesAsPercent}}%" aria-valuenow="25"
            aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>
{{/each}}

{{#if (gt totalStudents 8)}}
<div class="mb-5">
    <a class="toggle-student" href="#" style="font-size:1.2rem">Vezi toti elevii <i
            class="fas fa-angle-double-right"></i></a>
    <a class="toggle-student hideStudent" href="#" style="font-size:1.2rem; vertical-align: bottom;"><i
            class="fas fa-angle-double-left"></i> Vezi doar primii elevi </a>
</div>
{{/if}}


{{#section 'script-after'}}
<script>
    (function () {
        // DOM ready
        $(function () {
            // elements
            var togglePresencesElem = $("a.toggle-presence");
            var toggleStudentsElem = $("a.toggle-student");

            // events
            togglePresencesElem.click(togglePresences);
            toggleStudentsElem.click(toggleStudents);
        });

        var togglePresences = function () {
            event.preventDefault();
            $(".toggle-presence").toggleClass("hidePresence");
        }

        var toggleStudents = function () {
            event.preventDefault();
            $(".toggle-student").toggleClass("hideStudent");
        }

    }())
</script>
{{/section}}

{{#section 'script'}}
<script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js"
    integrity="sha384-EIHISlAOj4zgYieurP0SdoiBYfGJKkgWedPHH4jCzpCXLmzVsw1ouK59MuUtP4a1"
    crossorigin="anonymous"></script>
{{/section}}