<h1>Prezenta ({{student}})</h1>

{{!-- <h2>{{presence.date}}</h2>
<ul>
    {{#each presence.students}}
    <li>{{name}} ({{class}})</li>
    {{/each}}
</ul> --}}

{{#each presencePerStudent}}
<h2>{{date}}</h2>
{{!-- <ul>
    {{#each students}}
    <li>{{name}} ({{class}})</li>
    {{/each}}
</ul> --}}
{{/each}}