<style>
    .btn-link {
        padding-top: 1px;
        padding-bottom: 1px;
    }

    ul {
        margin-bottom: 0;
    }

    .btn-group-toggle>label {
        width: 40px;
    }

    .btn-light:not(:disabled):not(.disabled).active {
        background-color: #ffc107;
        border-color: #ffc107;
    }

    .absence-add-form {
        padding-left: 8px;
        background: #ffe6cb;
    }


    .btn-group>.btn {
        border-radius: 0;
    }

    .btn-light {
        border-radius: 0;
        margin-bottom: 0;
        border: 0;

    }

    .btn-group>.btn.btn-light {
        flex-grow: 0;
        margin: 0;
    }

    .flex-new-line {
        width: 100% !important;
        visibility: hidden;
        padding: 0
    }

    /* spinner icon: http://stackoverflow.com/a/26283602 */
    .fas.spinning {
        animation: spin 1s infinite linear;
        -webkit-animation: spin2 1s infinite linear;
    }

    @keyframes spin {
        from {
            transform: scale(1) rotate(0deg);
        }

        to {
            transform: scale(1) rotate(360deg);
        }
    }

    @-webkit-keyframes spin2 {
        from {
            -webkit-transform: rotate(0deg);
        }

        to {
            -webkit-transform: rotate(360deg);
        }
    }

    .spinner {
        color: gray;
        vertical-align: middle;
    }

    .spinner.spinner-md {
        font-size: 1.4em;
    }

    /* end spinner icon */
</style>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Acasa</a></li>
        <li class="breadcrumb-item"><a href="/clase">Clase</a></li>
        <li class="breadcrumb-item"><a href="/clase/{{class.id}}">Clasa {{class.name}}</a></li>
        <li class="breadcrumb-item"><a href="/clase/{{class.id}}/elevi">Elevi</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{student.lastName}} {{studentFirstNameFirstChar}}.</li>
    </ol>
</nav>

<h1 data-student='{{{toJSON student}}}'>{{student.lastName}} {{student.firstName}} </h1>

<h5 data-class2='{{{toJSON class}}}' class="mt-4">Clasa:
    <a href="/clase/{{class.id}}">{{class.name}}</a>
</h5>

{{#each subjects}}

{{!-- {{{toJSON this}}}
<div>--------</div>
{{toJSON this}} --}}
<div id="{{id}}" class="subject-container" data-subject-id="{{id}}" data-subject-name="{{name}}">
    <h3 class="font-weight-normal mt-5">{{name}}</h3>

    <div class="absences-container ml-4 mt-4">
        <div class="font-weight-bold">Absente:</div>
        <ul>
            {{#each absences}}
            <li id={{id}}>
                <span class="align-middle {{#if isExcused}}text-success{{/if}}">{{date}}</span>
                {{#unless isExcused}}
                <button class="excuse-btn btn btn-link">Motiveza</button> |
                {{/unless}}
                <button class="delete-btn btn btn-link">Sterge</button>
            </li>
            {{/each}}
        </ul>

        <button class="expand-add-absence-btn btn btn-sm btn-primary ml-4 mt-1">Adauga absente</button>

    </div>

    <div class="marks-container ml-4 mt-4" data-test="aaa">
        <div class="font-weight-bold">Note:</div>

        <ul class="marks-list-container" data-test="bbb">
            {{#each marks}}
            <li id={{id}}>
                <span>{{value}}</span>
                <span class="text-muted">/ {{date}}</span>
                <button type="button" class="delete-btn btn btn-link">Sterge</button>
            </li>
            {{/each}}
        </ul>

        <div class="marks-add-container ml-4">
            <div class="form-inline">
                <input type="number" class="mark-value form-control form-control-sm" style="width:70px">
                <span class="text-muted text-center" style="width:12px"> / </span>
                <input type="number" class="mark-date form-control form-control-sm" style="width:100px">
                <button class="add-mark-btn btn btn-primary btn-sm ml-2">Adauga nota</button>
            </div>
            <small class="text-muted">Ex: 8 / 17.04</small>
            <br>

        </div>

        <div class="sem-test-paper-container  ml-4 mt-4">
            <div class="font-weight-bold">Teza:</div>
            <div class="ml-4 form-inline">
                <input type="number" class="form-control form-control-sm" style="width:70px">
                <button type="submit" class="btn btn-primary btn-sm ml-2" style="width:120px">Adauga teza</button>
            </div>
        </div>

        <div class="sem-average-container  ml-4 mt-4">
            <div class="font-weight-bold">Media:</div>
            <div class="ml-4 form-inline">
                <input type="number" class="form-control form-control-sm" style="width:70px">
                <button type="submit" class="btn btn-primary btn-sm ml-2" style="width:120px">Adauga media</button>
            </div>
        </div>

        <hr class="mt-5" />
    </div>
    {{/each}}


    {{!-- <script type="text/x-template" id="app-data-template">
    {{{toJSON this }}}
    </script> --}}

    <script type="text/x-template" id="ui-state">{{{toJSON uiState }}}</script>
    {{!-- <script type="text/x-template" id="app-data-class">{{{toJSON currentClass }}}</script> --}}


    {{#section 'script'}}
    {{!-- <script type="text/javascript" src="/views/student/student-catalog.js" defer></script> --}}
    <script type="module" src="/views/catalog/main.js"></script>
    {{/section}}