<style>
    .table td {
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
    }

    .table thead {
        background-color: #f3f3f3;
    }
</style>

<h1>{{teacher.firstName}} {{teacher.lastName}}</h1>
<h3 class="mt-4">Orar:</h3>

<div class="container-flui">
    <div class="row">
        {{#each lessonsPerDay}}
        <div class="col-md-4">

            <table class="table thead-light table-bordered table-light2 table-hover mb-5">
                <thead>
                    <tr>
                        <th colspan="3">{{day}}</th>

                    </tr>
                </thead>
                <tbody>
                    {{#if noLessonsPerDay}}
                    <tr>
                        <td colspan="3">Nu are ore</td>
                    </tr>
                    {{else}}
                    {{#each lessonsPerHour}}
                    <tr>
                        <td style="width: 20%">{{hour.start}}</td>
                        <td>
                            {{#if lesson}}

                            <div><a href="/clase/{{lesson.class.id}}">{{lesson.class.name}}</a> -
                                {{lesson.subject.name}}</div>

                            {{else if lessonsPerWeek}}

                            {{#each lessonsPerWeek}}
                            {{#if lesson}}
                            <div><a href="/clase/{{lesson.class.id}}">{{lesson.class.name}}</a> -
                                {{lesson.subject.name}} <span class="text-secondary">(sapt. {{week}})</span>
                            </div>
                            {{/if}}
                            {{/each}}

                            {{/if}}
                        </td>
                    </tr>
                    {{/each}}
                    {{/if}}
                </tbody>
            </table>

        </div>
        {{/each}}
    </div>
</div>