{{!-- <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
        <li class="breadcrumb-item active" aria-current="page">Profesori</li>
    </ol>
</nav> --}}

<h1>Profesori</h1>
{{#each teachersByArea as | value key | }}
<h2>{{key}}</h2>
<ul>
    {{#each value }}
    <li class="mt-1"><a href="/profesori/{{_id}}">{{firstName}} {{lastName}}</a>{{#if holder}},
        titular{{/if}}<span>, {{degree}}</span><span>, {{subject}}</span></li>
    {{/each}}
</ul>
{{/each}}

{{#section 'script'}}
<script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js"
    integrity="sha384-EIHISlAOj4zgYieurP0SdoiBYfGJKkgWedPHH4jCzpCXLmzVsw1ouK59MuUtP4a1"
    crossorigin="anonymous"></script>
{{/section}}