<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Acasa</a></li>
        <li class="breadcrumb-item"><a href="/clase">Clase</a></li>
        <li class="breadcrumb-item"><a href="/clase/{{currentClass.id}}">Clasa {{currentClass.name}}</a></li>
        <li class="breadcrumb-item"><a href="/clase/{{currentClass.id}}/elevi">Elevi</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{student.lastName}} {{student.firstNameFirstChar}}.</li>
    </ol>
</nav>

<h1>{{student.lastName}} {{student.firstName}} </h1>

<h5 class="mt-4">Clasa:
    <a href="/clase/{{currentClass.id}}">{{currentClass.name}}</a>
</h5>

<h5 class="mt-4">Parinti/Tutori:</h5>

<ul>
    {{#each student.parents }}
    <li class="mt-1"><a href="/parinti/{{id}}">{{lastName}} {{firstName}}</a></li>
    {{/each}}
</ul>

<h5 class="mt-4">Premii obtinute:</h5>