<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Acasa</a></li>
        <li class="breadcrumb-item active" aria-current="page">Profesori</li>
    </ol>
</nav>

<h1>Profesori</h1>
{{#each teachersByArea as | value key | }}
<h2>{{key}}</h2>
<ul>
    {{#each value }}
    <li class="mt-1"><a href="/profesori/{{_id}}">{{firstName}} {{lastName}}</a>{{#if teacherInfo.isFull}},
        titular{{/if}}<span>, {{teacherInfo.degree}}</span>{{#if (ne teacherInfo.area 'Invatamant primar') }}<span>,
            {{teacherInfo.subject}}</span>{{/if}}
    </li>
    {{/each}}
</ul>
{{/each}}